Below is a list of words that may or may not be of a given type. The type is: '{{type}}'. The words are below, following the "List: " tag.
List: {{objects_ordering}}

How many words in the list are of the given type? Below we give the answer as a single number uniquely determining the number of words that ARE of the given type. No explanation is given. The first token and only token following the "Answer: " tag is the number.
Answer: 